.primeiro{
    background-color: blue;
    color: rgb(47, 219, 4);
    text-align: center;
}
.segundo{
    background-color: rgb(255, 0, 0);
    color: rgb(4, 212, 219);
    text-align: start;
}